<footer class="footnote footnote-tiffany">
    <div class="container">
        <div class='links col-md-4'>
            <a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><span
                    class="octicon octicon-mail"></span></a>
            <a class="foot-item" href="https://weibo.com" target="_blank"><span class="fab fa-weibo"></span></a>
            <a class="foot-item" href="https://www.zhihu.com" target="_blank"><span class="fab fa-zhihu"></span></a>
            <a href="https://www.jenkinschina.com"><span class="word-keep">&copy; Jenkins中国</span></a>
            <p>Copyright © 2020 | <a href="/about" target="_blank">关于</a></p>
            <p>本站使用「CC BY 4.0」创作共享协议，转载请在文章明显位置注明作者及出处。如您认为侵犯了你的权益，可联系我们。</p>
        </div>
        <div class='links col-md-7'>
            <div class='row'>
                <div class='area col-md-4'>
                    <div class='div-mar'>
                        <h1>下载</h1>
                        <ul class='resources'>
                            <li>
                                <a href='https://www.jenkins.io/download' target="_blank">
                                    Jenkins服务端
                                </a>
                            </li>
                            <li>
                                <a href='https://pypi.org/project/jenkinsclient/' target="_blank">
                                    Jenkins客户端
                                </a>
                            </li>
                            <li>
                                <a href='/post/change-jenkins-plugin-center-source-to-cn' target="_blank">
                                    插件中心国内镜像（高速下载）
                                </a>
                            </li>
                            <li>
                                <a href='https://github.com/jenkinsci/jenkins' target="_blank">
                                    源码
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='area col-md-4'>
                    <div class='div-mar'>
                        <h1>项目</h1>
                        <ul class='project'>
                            <li>
                                <a href='https://www.jenkins.io/doc/book/pipeline-as-code/' target="_blank">
                                    流水线即代码
                                </a>
                            </li>
                            <li>
                                <a href='https://www.jenkins.io/doc/book/blueocean/' target="_blank">
                                    Blue Ocean
                                </a>
                            </li>
                            <li>
                                <a href='https://www.jenkins.io/projects/jcasc/' target="_blank">
                                    配置即代码
                                </a>
                            </li>
                            <li>
                                <a href='https://www.jenkins.io/blog/2019/10/21/plugin-docs-on-github/' target="_blank">
                                    插件文档即代码
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class='area col-md-3'>
                    <div class='div-mar'>
                        <h1>本地社区</h1>
                        <ul class='group'>
                            <li>
                                <a href='/group/zhuhai' target="_blank">
                                    珠海
                                </a>
                            </li>
                            <li>
                                <a href='/group/beijing' target="_blank">
                                    北京
                                </a>
                            </li>
                            <li>
                                <a href='/group/shanghai' target="_blank">
                                    上海
                                </a>
                            </li>
                            <li>
                                <a href='/group/guangzhou' target="_blank">
                                    广州
                                </a>
                            </li>
                            <li>
                                <a href='/group/hangzhou' target="_blank">
                                    杭州
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{'/static/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
{% for script in page.scripts %}
<script type="text/javascript"
        src="{{'/static/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
{%endfor%}
